<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{welcomeMessage}}</h1>

    <h2>Información del Curso</h2>

    <ul>
      <li>Nombre del curso: {{className}}</li>
      <li>Profesor: {{profesor}}</li>
      <li>Día: {{day}}</li>
    </ul>

  </body>
</html>